body {
  background-image: url("https://media.discordapp.net/attachments/985663522098790400/1028476406637793390/unknown.png?width=853&height=480");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.img1 {
  height: 80px;
  padding: 1px;
  margin: 1px;
  border: 5px solid black;
  position:absolute;
  left: 6%;
	top: 500px;
}



.img2 {
  height: 132.6%;
  position:absolute;
  left: 0%;
	top: 636px;
  border-radius: 3%;
}