.titulo {
  width: 1000px;
  height: 100px;
  position:absolute;
  font-size: 50px;
  font-family: cursive;
  top: -1%;
  left: 6%;
  -webkit-text-stroke: 1px aliceblue;
  color: transparent;
}



.texto {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 6%;
  top: 120px;
  font-family: cursive;
  color: aliceblue;
}



.subtexto {
  width: 1000px;
  height: 100px;
  position:absolute;
	left: 6%;
  top: 190px;
  font-family: cursive;
  color: aliceblue;
}



.menuop1 {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 6%;
  top: 660px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom1 {
  width: 1000px;
  height: 100px;
  position:absolute;
	left: 7.5%;
  top: 700px;
  font-family: cursive;
  color: aliceblue;
}



.menuop2 {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 6%;
  top: 790px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom2 {
  width: 1000px;
  height: 100px;
  position:absolute;
	left: 7.8%;
  top: 830px;
  font-family: cursive;
  color: aliceblue;
}



.menuop3 {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 6%;
  top: 985px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom3 {
  width: 1000px;
  height: 100px;
  position:absolute;
	left: 7.8%;
  top: 1030px;
  font-family: cursive;
  color: aliceblue;
}



.menuop4 {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 6%;
  top: 1190px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom4 {
  width: 1000px;
  height: 100px;
  position:absolute;
	left: 7.8%;
  top: 1240px;
  font-family: cursive;
  color: aliceblue;
}




.subtextoa {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 6%;
  top: 200px;
  font-family: cursive;
  color: aliceblue;
}



.textoa {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 7%;
  top: 250px;
  font-family: cursive;
  color: aliceblue;
}



.subtextob {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 6%;
  top: 360px;
  font-family: cursive;
  color: aliceblue;
}



.textob {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 7%;
  top: 410px;
  font-family: cursive;
  color: aliceblue;
}



.creador {
  width: 1000px;
  height: 100px;
  position:absolute;
  left: 14%;
  top: 480px;
  font-family: cursive;
  color: aliceblue;
}