.titulo {
  width: auto;
  height: auto;
  position:absolute;
  font-size: 50px;
  font-family: cursive;
  top: -1%;
  left: 6%;
  -webkit-text-stroke: 1px aliceblue;
  color: transparent;
}



.texto {
  width: auto;
  height: auto;
  position:absolute;
  left: 6%;
  top: 120px;
  font-family: cursive;
  color: aliceblue;
}



.subtexto {
  width: auto;
  height: auto;
  position:absolute;
	left: 6%;
  top: 190px;
  font-family: cursive;
  color: aliceblue;
}



.menuop1 {
  width: auto;
  height: auto;
  position:absolute;
  left: 6%;
  top: 660px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom1 {
  width: auto;
  height: auto;
  position:absolute;
	left: 7.5%;
  top: 700px;
  font-family: cursive;
  color: aliceblue;
}



.menuop2 {
  width: auto;
  height: auto;
  position:absolute;
  left: 6%;
  top: 790px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom2 {
  width: auto;
  height: auto;
  position:absolute;
	left: 7.8%;
  top: 830px;
  font-family: cursive;
  color: aliceblue;
}



.menuop3 {
  width: auto;
  height: auto;
  position:absolute;
  left: 6%;
  top: 985px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom3 {
  width: auto;
  height: auto;
  position:absolute;
	left: 7.8%;
  top: 1030px;
  font-family: cursive;
  color: aliceblue;
}



.menuop4 {
  width: auto;
  height: auto;
  position:absolute;
  left: 6%;
  top: 1190px;
  font-family: cursive;
  color: aliceblue;
}



.subtextom4 {
  width: auto;
  height: auto;
  position:absolute;


  left: 7.8%;
  top: 1240px;
  font-family: cursive;
  color: aliceblue;
}




.subtextoa {
  width: auto;
  height: auto;
  position:absolute;
  left: 6%;
  top: 180px;
  font-family: cursive;
  color: aliceblue;
}



.textoa {
  width: auto;
  height: auto;
  position:absolute;
  left: 7%;
  top: 230px;
  font-family: cursive;
  color: aliceblue;
}



.subtextob {
  width: auto;
  height: auto;
  position:absolute;
  left: 6%;
  top: 340px;
  font-family: cursive;
  color: aliceblue;
}



.textob {
  width: auto;
  height: auto;
  position:absolute;
  left: 7%;
  top: 390px;
  font-family: cursive;
  color: aliceblue;
}



.creador {
  width: auto;
  height: auto;
  position:absolute;
  left: 36px;
  top: 480px;
  font-family: cursive;
  color: aliceblue;
}
